@font-face {
    font-family: 'CoolBigFont';
    src: url('./assets/fonts/OptimusPrincepsSemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'CoolSmallFont';
    src: url('./assets/fonts/OptimusPrinceps.ttf') format('truetype');
}

:root.dark{
    --background-image: url('./assets/night.png');
    --font-color: #faf9f9;
    --form-bg-color: #1a759f;
    --label-color: #22333b;
    --labelBG-focus-color: #003049;
    --label-focus-color: #caf0f8;
    --button-hover-color: rgba(80, 63, 205,0.7);
    --error-color: #d00000;
}

:root.light{
    --background-image: url('./assets/morning.png');
    --font-color: #001d3d;
    --form-bg-color: #76c893;
    --label-color: #22333b;
    --labelBG-focus-color: #386641;
    --label-focus-color: #f2e8cf;
    --button-hover-color: rgba(43, 147, 72, 0.7);
    --error-color: red;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

#background{
    background: var(--background-image);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 80%;
    height: 100vh;
}

#formDiv{
    background-color: var(--form-bg-color);
    height: 100vh;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#theme-toggle{
    border: none;
    background: none;
    padding: 0;
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: end;
    position: absolute;
    top: 1em;
    right: 1em;
}

h1{
    color: var(--font-color);
    position: absolute;
    top: 4.5em;
    white-space: nowrap;
    font-size: 1.6em;
    font-weight: 800;
    font-family: 'CoolBigFont', sans-serif;
}


.inputRow{
    display: flex;
    gap: 50px;
    margin-bottom: 30px;
    font-family: 'CoolSmallFont', sans-serif;
}

.inputRow input{
    border: 2px solid;
    border-radius: 8px;
    outline: none;
    padding: 5px 10px;
}


.touched:valid{
    border-color: #a7c957;
}


.touched:invalid {
    border-color: #e71d36;
}

.touched:focus{
    border-color: #3772ff;
}

.input-field {
    position: relative;
}


.input-field input {
    padding: 10px;
    width: 200px;
}

.input-field label {
    color: var(--label-color);
    position: absolute;
    left: 10px;
    top: 10px;
    transition: 0.3s;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate 0.5s linear;
}

.button{
    padding: 15px 80px;
    border-radius: 1em;
    background-color: var(--labelBG-focus-color);
    color: var(--label-focus-color);
    border: none;
    font-family: 'CoolBigFont', sans-serif;
    font-size: 1em;
}

.button:hover{
    box-shadow: 0px 0px 27px 2px var(--button-hover-color);
    transition-duration: .2s;
    cursor: pointer;
    padding: 15px 85px;
}

#login{
    margin-top: 10px;
}

span{
    color: var(--font-color);
}

i{
    color: var(--label-color);
}

i:hover{
    cursor: pointer;
}
