:root.dark{
    --background-image: url('/assets/night.gif');
    --font-color: #faf9f9;
    --form-bg-color: #1a759f;
    --label-color: #22333b;
}

:root.light{
    --background-image: url('/assets/morning.gif');
    --font-color: #001d3d;
    --form-bg-color: #76c893;
    --label-color: #22333b;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

#background{
    background: var(--background-image);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 80%;
    height: 100vh;
}

#formDiv{
    background-color: var(--form-bg-color);
    height: 100vh;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#theme-toggle{
    border: none;
    background: none;
    padding: 0;
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: end;
    position: absolute;
    top: 1em;
    right: 1em;
}

h1{
    color: var(--font-color);
    position: absolute;
    top: 4.5em;
    white-space: nowrap;
    font-size: 1.8em;
}


.inputRow{
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
}

.inputRow input{
    border: 2px solid;
    border-radius: 8px;
    outline: none;
    padding: 5px 10px;
}

input:focus{
    border-color: #3772ff;
}

input:valid{
    border-color: #a7c957;
}


input:invalid{
    border-color: #e71d36;
}

.input-field {
    position: relative;
}


.input-field input {
    padding: 10px;
    width: 200px;
}

.input-field label {
    color: var(--label-color);
    position: absolute;
    left: 10px;
    top: 10px;
    transition: 0.3s;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate 0.5s linear;
}

